body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .container {
    margin-top: 30px;
  }
  
  .ais-Highlight-highlighted {
    background-color: hotpink;
  }
  
  .products-container ul {
    display: grid;
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .products-container li img {
    width: 100%;
  }
  
  .results-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    padding-left: 48px;
    padding-right: 48px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .toolbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .toolbar li {
    margin-left: 15px;
    border: solid 1px black;
    padding: 10px;
  }
  
  .toolbar .ais-Pagination-item--selected {
    background-color: #0096db;
    border: solid 1px #0096db;
  }
  
  .toolbar a {
    text-decoration: none;
    color: black;
  }
  
  .ais-Pagination-item--selected a {
    color: white;
  }
  
  .ais-RefinementList-count {
    display: none;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
  }
  
  .search-box input,
  .search-box button {
    background-color: #f5f5f5;
    border: solid 1px black;
    height: 35px;
  }
  
  .search-box button {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .ais-RefinementList-labelText {
    text-transform: capitalize;
  }
  
  /* Custom Search  */
  .search-container {
    position: relative;
    display: inline-grid;
    grid-gap: 1em;
    margin: 40px;
  }
  
  .search-container input {
    transition: 0.3s;
  }
  
  .search-container .hits-container {
    max-height: 80vh;
    overflow: scroll;
    z-index: 2;
    /* position: absolute; */
    right: 0;
    top: calc(100% + 0.5em);
    width: 80vw;
    max-width: 30em;
    box-shadow: 0 0 5px 0 black;
    padding: 0.7em 1em 0.4em;
    border-radius: 0.2em;
    background-color: white;
  }
  
  .search-container .stats {
    justify-self: end;
  }
  
  .search-container .hit img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
  
  .search-container .hit {
    margin-bottom: 20px;
    display: flex;
  }
  
  .search-container .hit-content {
    display: flex;
    flex-direction: column;
  }
  
  .copyright {
    display: flex;
    align-items: center;
    justify-self: end;
  }
  
  .ais-PoweredBy {
    display: flex;
    align-items: center;
  }